package-lock.json
yarn.lock
.stylelintrc

dist
e2e
coverage
node_modules
tmp
temp
api
target
git-hooks
models-generator
Dockerfile
.*

*.gitignore
*.gitattributes
*.sh
*.jar
*.log
*.txt
*.png
*.svg
*.jpeg
*.jpg
*.ts~*
*.eot
*.ttf
*.woff
*.woff2
*.ico
*.properties
